## How to win a data science competition - Final Project

[Kaggle - predict future sales](https://www.kaggle.com/c/competitive-data-science-final-project/)

In [2]:
# Import required libs
import numpy as np
import pandas as pd

In [7]:
# Read the data
data_path = './data'
items = pd.read_csv('%s/items.csv' % data_path)
shops = pd.read_csv('%s/shops.csv' % data_path)

In [12]:
# Shape of items data
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [13]:
# Shape of shops data
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4